################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.terraform.lock.hcl
/terraform.tfstate
/.terraform
